<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weather.byhieg.easyweather">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <meta-data -->
        <!-- android:name="com.baidu.lbsapi.API_KEY" -->
        <!-- android:value="PvKYrodHD4zndKcfdewgiGty0VD6YBxZ" /> -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="VFMa5kEGFMHWLWV4aGsmG8jQSxbBekKw" />
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".searchresult.SearchResultActivity" />

        <activity
            android:name=".home.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".startweather.StartActivity"
            android:theme="@style/AppTheme.SplashNoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>>

        <service
            android:name=".startweather.BackGroundService"
            android:exported="false" />
        <service
            android:name=".startweather.NotificationService"
            android:exported="false" />

        <activity
            android:name=".startweather.SplashActivity"
            android:theme="@style/AppTheme.SplashNoActionBar">
        </activity>
        <activity
            android:name=".citymanage.CityManageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".city.CityActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".searchresult.SearchResultActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".slidemenu.SlideMenuActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".home.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 声明widget对应的AppWidgetProvider -->
        <receiver android:name=".desktopwidget.WeatherWidgetProvider">
            <intent-filter>
                <action android:name="com.widget.UPDATE_ALL" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_info" />
        </receiver>

        <service
            android:name=".desktopwidget.WeatherWidgetService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".loveapp.LoveAppActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".slidemenu.wiki.WikiResultActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>